In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./ccd norm.csv')

In [3]:
df.describe()

           hours         mg    glucose         Na    protien
count  30.000000  30.000000  30.000000  30.000000  30.000000
mean   29.000000   0.029400   0.600000   1.170000  36.095917
std     0.939552   0.005074   0.187910   0.300657   7.736014
min    26.809110   0.017569   0.161822   0.468915  21.494387
25%    28.000000   0.024000   0.400000   0.850000  31.529018
50%    29.000000   0.029400   0.600000   1.170000  35.140580
75%    30.000000   0.034800   0.800000   1.490000  40.521911
max    31.190890   0.041231   1.038178   1.871085  52.607302